<% if (typeof errors != 'undefined') { %>
    <% errors.forEach(error =>  { %>
        <div class="alert alert-warning alert-dismissible fade show text-danger" role="alert">
            <%= error.msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"><i class="material-icons">
              </i></button>
          </div>
        <% }) %>
    <% } %>
    
    
    <% if (success_msg != '') { %>
      <div class="alert alert-success alert-dismissible fade show text-success" role="alert">
        <%= success_msg %>
        <% console.log(success_msg) %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"><i class="material-icons">
          </i></button>
      </div>
    <% } %>
    
    <% if (error_msg != '') { %>
      <div class="alert alert-warning alert-dismissible fade show text-danger" role="alert">
        <%= error_msg %>
        <% console.log(error_msg) %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"><i class="material-icons">
          </i></button>
      </div>
    <% } %>
    
    <% if (error != '') { %>
      <div class="alert alert-warning alert-dismissible fade show text-danger" role="alert">
        <%= error %>
        <% console.log(error) %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"><i class="material-icons">
          </i></button>
      </div>
    <% } %>