<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <%- include("./partials/messages.ejs"); %>
      <form action="/users/login" method="POST">
        <div class="form-group form-floating">
          <input
            type="text"
            id="email"
            name="username"
            class="form-control mt-3"
            placeholder="Enter gamertag or email"
          />
          <label for="username">Enter gamertag or email</label>
        </div>
        <div class="form-group form-floating">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control mt-3"
            placeholder="Enter Password"
          />
          <label for="password">Enter Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">
          Login
        </button>
      </form>
      <p class="mt-4">No Account? <a href="/users/register">Register</a></p>
    </div>
  </div>
</div>
